@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Josefin+Sans&family=New+Tegomin&family=Raleway&family=Sriracha&family=Wallpoet&display=swap");
#nav {
  font-family: "Karla", sans-serif;
  /* background-image: linear-gradient(to right, #000, #00cba9); */
  font-weight: 700;
  background: white;
  box-shadow: none;
}

.curved {
  color: rgb(37, 37, 37);
  font-family: "Karla";
  font-size: 30px;
  text-align: center;
}
.curved svg {
  display: block;
}
.curved_txt {
  padding: 5%;
}
.content {
  text-align: center;
  /* background-color: rgb(48, 48, 68); */

  padding-bottom: 5%;

  font-family: Karla;
  font-size: 30px;
  color: "blue";
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a4d3fa;
}
.desc {
  width: 100%;
  margin-right: 75px;
  color: #000;
}
.btn {
  border: 4px solid #fff;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.btn:hover {
  border: 4px solid #fff;
}
@keyframes example {
  0% {
    background-color: rgb(38, 38, 41);

    top: 0px;
  }

  50% {
    top: 20px;
  }

  100% {
    background-color: rgb(38, 38, 41);
    left: 0px;
    top: 0px;
  }
}
