@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap");

#nav {
  font-family: "Karla", sans-serif;
  /* background-image: linear-gradient(to right, #000, #00cba9); */
  font-weight: 700;
  background: transparent;
  box-shadow: none;
}

.curved {
  color: rgb(37, 37, 37);
  font-family: "Karla";
  font-size: 30px;
  text-align: center;
}
.curved svg {
  display: block;
}
.curved_txt {
  padding: 5%;
}
.content {
  text-align: center;
  /* background-color: rgb(48, 48, 68); */

  padding-bottom: 5%;

  font-family: Karla;
  font-size: 30px;
  color: "blue";
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a4d3fa;
}
.desc {
  width: 100%;
  margin-right: 75px;
  color: #000;
}
